body{
    background-color: #CCCCFF;
}

div{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

h1,h2 {
    color: #800080;
}

.titleLink {
    color: #800080;
    text-decoration: none;
}

a:hover{
    color: #5D3FD3;
}

.block{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}